pyres==1.4.1
simplejson
redis
setproctitle

Django==1.5.1
South==0.7.3
ajaxuploader==0.2.1
amqplib==1.0.2
anyjson==0.3.1
boto==2.1.1

-e git://github.com/eagleflo/mpyq.git@a243a84cffda28765859754a2ce3e7dbd56ebb08#egg=mpyq
#mpyq>=0.2.4

python-dateutil==1.5
wsgiref==0.1.2
pytz
MySQL-python
pyyaml
pil

#file:///Users/david/Dropbox/Programming/sc2reader/sc2reader#egg=sc2reader
#-e git://github.com/ggtracker/sc2reader.git#egg=sc2reader
-e git://github.com/ggtracker/sc2reader.git@a421ca01c529359c247a1ca89c9bc413121e9faa#egg=sc2reader

enum34


#numpy
#scipy
#matplotlib
